In [1]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import acf, pacf
from datetime import timedelta
from sklearn.metrics import root_mean_squared_error
import pickle

In [3]:
df = pd.read_csv("../dataset.csv", index_col="ts", parse_dates = True)
df.head()

,id,light,temperature,soil_moisture,humidity,api_temp,precipitation,cloud_cover
ts,,,,,,,,
2025-04-01 21:15:00,1,34.3262,33.3125,3262.0,84,27.9,0.1,100
2025-04-01 21:30:00,2,33.9057,33.4688,3232.5,84,27.8,0.1,100
2025-04-01 21:45:00,3,33.2979,33.5938,3218.0,85,27.8,0.1,100
2025-04-01 22:00:00,4,33.6201,33.3281,3211.0,85,27.6,0.0,100
2025-04-01 22:15:00,5,33.2979,33.3438,3203.0,85,27.6,0.0,100

In [7]:
daily_df = df.resample('D').mean()

In [8]:
daily_df

,id,light,temperature,soil_moisture,humidity,api_temp,precipitation,cloud_cover
ts,,,,,,,,
2025-04-01,6.0,30.485055,33.485800,3211.045455,83.909091,28.200000,0.027273,96.363636
2025-04-02,46.0,27.144790,33.753629,3158.710145,62.623188,31.623188,0.000000,87.246377
2025-04-03,128.5,25.908357,33.485352,3121.473958,76.322917,29.742708,0.025000,81.854167
2025-04-04,224.5,25.931506,33.122399,3223.473958,72.354167,30.153125,0.000000,36.416667
2025-04-05,320.0,141.128589,33.805593,3099.052632,71.084211,30.283158,0.000000,63.873684
2025-04-06,413.0,24.105108,34.063013,3131.879121,73.516484,29.862637,0.000000,57.120879
2025-04-07,506.5,61.050593,32.843917,3063.227396,79.572917,28.889583,0.032292,53.333333
2025-04-08,602.5,23.892697,32.415202,3132.442708,77.968750,29.573958,0.026042,76.375000
2025-04-09,689.0,23.082801,32.123174,3158.753247,72.038961,30.761039,0.005195,60.181818
2025-04-10,761.5,24.993522,31.644756,3131.139706,72.808824,30.464706,0.011765,97.176471
2025-04-11,844.0,24.186542,31.560729,3145.443299,79.422680,29.112371,0.047423,93.958763
2025-04-12,940.5,112.357793,33.243488,3162.234375,71.927083,30.176042,0.000000,72.697917
2025-04-13,1036.5,25.809491,33.961915,3174.453125,74.541667,30.586458,0.001042,64.781250
2025-04-14,1107.5,24.461513,31.981996,3120.097826,84.543478,26.808696,0.060870,95.608696